.tagBox {
    margin-top:16px;
}
.tagBox span {
    margin-top:6px;
}
.ant-tag-close-icon {
    color:inherit !important;
}
.tagManage {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}