.pictureManage {
    height: 100%;
}
.picture_box {
    margin-top: 16px;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.cardWapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 130px;
}

.cardItem {
    width:calc(25% - 16px);
    margin-right:16px !important;
    margin-top:16px !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.emptyText {
    width:100%;
    text-align: center;
    color:#999;
    line-height:100px;
}
.demo-loading-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
  }