.picture_box {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cardItem {
    width:calc(25% - 16px);
    margin-right:16px !important;
    margin-top:16px !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}