.logo {
    /* height: 32px; */
    margin: 16px;
    /* background: rgba(255, 255, 255); */
    text-align: center;
  }
  .headerBox {
    display:flex;
    justify-content: space-between;
  }
  .timeInfo {
    display: flex;
  }
  .userSetting {
    
  }
  .quit {
    color:#999;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  .mainContent {
    padding: 24px;
    margin-top:16px;
    height: calc(100% - 16px);
    background-color: #fff;
  }
  .ant-layout-footer {
      padding:16px 50px !important;
  }
  .trigger:hover {
      color:#1890ff;
  }